<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">


	<resultMap type="memberDto" id="memberResultMap">
		<result column="USER_NO" property="userNo"/>
		<result column="USER_ID" property="userId"/>
		<result column="USER_PWD" property="userPwd"/>
		<result column="USER_NAME" property="userName"/>
		<result column="EMAIL" property="email"/>
		<result column="GENDER" property="gender"/>
		<result column="PHONE" property="phone"/>
		<result column="ADDRESS" property="address"/>
		<result column="PROFILE_URL" property="profileURL"/>
		<result column="SIGNUP_DATE" property="signupDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="STATUS" property="status"/>
	</resultMap>

	
	<!-- 로그인 -->
	<!-- 
	<select id="selectMember" resultMap="memberResultMap">
		select
						user_no
				 ,	user_id
				 ,	user_pwd
				 ,	user_name
				 ,	email
				 ,	gender
				 ,	phone
				 ,	address
				 ,	profile_url
				 ,	signup_date
				 ,	modify_date
				 ,	status
		  from	member
		 where	status in ('Y','A')
		 	 and	user_id = #{userId}
		 	 and	user_pwd = #{userPwd}
	</select>
	 -->
	 
	 	<select id="selectMember" resultMap="memberResultMap">
		select
						user_no
				 ,	user_id
				 ,	user_pwd
				 ,	user_name
				 ,	email
				 ,	gender
				 ,	phone
				 ,	address
				 ,	profile_url
				 ,	signup_date
				 ,	modify_date
				 ,	status
		  from	member
		 where	status in ('Y','A')
		 	 and	user_id = #{userId}
	</select>
	
	
	<!-- 회원가입 -->
	<insert id="insertMember">
		insert
			into	
						member
						(
							user_no
						, user_id
						, user_pwd
						, user_name
						, email
						, gender
						, phone
						, address
						)
						values
						(
							seq_uno.nextval
						, #{userId}
						, #{userPwd}
						, #{userName}
						, #{email}
						, #{gender}
						, #{phone}
						, #{address}
						)
	</insert>
	<!-- 아이디중복체크(아이디 수 조회) -->
	<select id="selectUserIdCount" resultType="_int">
		select
						count(*)
			from	member
		 where	user_id = #{checkId}	
	</select>
	
	<!-- 회원정보수정 -->
	<update id="updateMember">
		update
					 member
			 set user_name = #{userName}
			 	 , email = #{email}
			 	 , phone = #{phone}
			 	 , address = #{address}
			 	 , gender = #{gender}
		 		 , modify_date = sysdate
		 where user_id = #{userId}
	</update>
	
	<!-- 회원프로필 이미지 수정 -->
	<update id="updateProfileImg">
		update
						member
			 set	profile_url = #{profileURL}
			 	 ,	modify_date = sysdate
		 where	user_no = #{userNo}
	</update>
	
	<!-- 회원탈퇴 (행을 삭제하진 않고 개인정보만 일부지움(이름만 마스킹 처리))-->
	
	<update id="deleteMember">
		update
						member
			 set	email = null
			 	 ,	gender = null
			 	 ,	phone = null
			 	 ,	address = null
			 	 ,	profile_url = null
			 	 ,	user_name = substr(user_name,1,1) || rpad('*', length(user_name)-1, '*')
			 	 ,	status = 'N'
			 	 ,	modify_date = sysdate
		 where user_id = #{userId}
	</update>
	
	
	
</mapper>
